body {
    background-image: url("https://i.pinimg.com/originals/fd/8f/8d/fd8f8da060afe72035e078e5fe661452.png");
    background-size: cover;
}

.tetris-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tetris-wrapper .grid-tetris {
    width: 300px;
    height: 600px;
    background-color: black;
    border: 2px solid #616161;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.tetromino {
    box-sizing: border-box;
    background-color: red;
    border: 1px solid rgb(185, 34, 34);
}

.tetris-wrapper .grid-tetris .square {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid  #272626;
}

.tetris-wrapper .tetris-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}



#start-tetris-game, #clear-tetris-game {
    cursor: pointer;
}


.display-score, #start-tetris-game, #clear-tetris-game {
    margin-bottom: 20px;
    position: relative;
    top:30px;
    padding: 8px 35px;
    margin-left: 20px;
    margin-right: 10px;
    background: linear-gradient(#FF6064, #FF9867);
    border-radius: 35px;
    text-decoration: none;
    z-index: 1;
}

.display-score a > span, #start-tetris-game a > span, #clear-tetris-game a > span {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 18px;
}

.display-score a > span > span, #start-tetris-game a > span > span, #clear-tetris-game a > span > span {
    font-weight: bold;
    background: linear-gradient(#FF6064, #FF9867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-score:hover, #start-tetris-game:hover,#clear-tetris-game:hover, .active{
    background: linear-gradient(#FD4E53,#FF844A);
}

.mini-grid {
    margin-left: 80px   ;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}