body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5eb8c942-795b-4042-9aa5-e73936cc6798/d8un0f2-0bbc2229-4839-4936-86cf-b8652493c960.jpg/v1/fill/w_1192,h_670,q_70,strp/game_background_by_rafaelrodriz08_d8un0f2-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xNDQwIiwicGF0aCI6IlwvZlwvNWViOGM5NDItNzk1Yi00MDQyLTlhYTUtZTczOTM2Y2M2Nzk4XC9kOHVuMGYyLTBiYmMyMjI5LTQ4MzktNDkzNi04NmNmLWI4NjUyNDkzYzk2MC5qcGciLCJ3aWR0aCI6Ijw9MjU2MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.5Q1Hqj7M4rpof0cLmKiR2MYiXhnrblcVcYTn4pl3oxM");
    background-size: cover;
}

.tetris-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tetris-wrapper .grid-tetris {
    width: 250px;
    height: 500px;
    background-color: black;
    border: 2px solid #616161;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.tetromino {
    box-sizing: border-box;
    background-color: red;
    border: 1px solid rgb(185, 34, 34);
}

.tetris-wrapper .grid-tetris .square {
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid  #272626;
}

.tetris-wrapper .tetris-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}



#start-tetris-game, #clear-tetris-game {
    cursor: pointer;
}


.display-score, #start-tetris-game, #clear-tetris-game {
    margin-bottom: 20px;
    position: relative;
    top:30px;
    padding: 8px 35px;
    margin-left: 20px;
    margin-right: 10px;
    background: linear-gradient(#FF6064, #FF9867);
    border-radius: 35px;
    text-decoration: none;
    z-index: 1;
}

.display-score a > span, #start-tetris-game a > span, #clear-tetris-game a > span {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 18px;
}

.display-score a > span > span, #start-tetris-game a > span > span, #clear-tetris-game a > span > span {
    font-weight: bold;
    background: linear-gradient(#FF6064, #FF9867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-score:hover, #start-tetris-game:hover,#clear-tetris-game:hover, .active{
    background: linear-gradient(#FD4E53,#FF844A);
}

.mini-grid {
    margin-left: 80px   ;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}